@media screen and (max-width:425px) {

    /*Geral*/
    body {
        overflow-x: hidden;
        /*Retirar scrool lateral*/
    }

    i {
        padding: 1.5rem;
        font-size: 2rem;
    }

    /* Navbar */
    #navbar {
        display: none;
    }

    #menu,
    #close-menu {
        display: block;
    }

    .banner {
        width: 100%;
        padding: 4rem 2rem;
    }

    .banner h2 {
        font-size: 3rem;
    }

    .banner p {
        font-size: 1rem;
    }

    /* Áreas de atuação */
    .btn {
        align-self: initial;
    }

    .image-container {
        flex: 1 1 100%;
    }

    #other-services {
        flex-wrap: wrap;
    }

    /* Sobre nós */
    #about {
        gap: 0;
    }

    #about-text,
    #about-data {
        flex: 1 1 100%;
    }

    .about-description {
        gap: 1rem;
    }

    .about-description i {
        padding: 0;
        min-width: 40px;
    }

    #about #about-data .data {
        width: 100%;
        border: none;
        border-bottom: 1px solid var(--secondary-text-color);
    }

    /* Depoimentos */
    .text-container {
        text-align: center;
        padding: 2rem;
    }

    .author {
        align-items: center;
    }

    /* Colaboradores */
    #team {
        margin-top: 2rem;
    }

    #team h2 {
        font-size: 2.5rem;
    }

    .employees {
        flex-wrap: wrap;
    }

    /* Contato */
    .image-container{
        margin-bottom: -3.6px;
    }
        
    #contact {
        padding-bottom: 0;
    }

    #contact-information {
        padding: 7rem 1rem;
    }

    #contact-information .form-control {
        flex-direction: column;
    }

    #contact-information .btn {
        align-self: auto;
        /*Botão ENVIAR preenche tela toda*/
    }

    /* Rodapé */
    .contact-info p{
        display: flex;
        align-items: center;
    }

    /* .contact-info p:nth-child(4){
        background-color: aqua;
    }

    #span-e-mail{
        margin-top: -5px;
    } */

    #footer {
        flex-wrap: wrap;
    }

    #footer i {
        font-size: 2rem;
        padding: 1rem;
    }

    .footer-brand {
        text-align: center;
    }

    .networks {
        margin-bottom: 3rem;
    }

    .links-container {
        margin-bottom: 1rem;
    }

    .links-container h4 {
        margin-bottom: 1.5rem;
    }

    .contact-info,
    .links-container {
        width: 100%;
    }
}